# IDEA
.idea/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.bak
*.swp
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
output.xml
logs
results

#custome
/csv
/log
/responsedata
/_trial_temp
/_trial_temp-1
/_trial_temp.lock

# Other files and directories to ignore
.DS_Store
.env
